section {
  background-color: #fff;
  width: 700px;
  margin: 0px auto;
  border-radius: 50px;
  border: 50px solid gold;
  text-align: center;
}
img {
  border: 6px solid #214;
  border-radius: 20px;
  max-height: 200px;
  max-width: 25%;
  margin: 1.5%;
  vertical-align: middle;
}
canvas {
  margin: 10px auto;
}